**/target/
**/client/target/
**/Commands/target/
**/custom_errors/target/
**/http_server/target/
**/MainServer/target/


**/Cargo.lock
**/client/Cargo.lock
**/Commands/Cargo.lock
**/custom_errors/Cargo.lock
**/http_server/Cargo.lock
**/MainServer/Cargo.lock
